.theme-black {
  // body
  --body-bg: 23, 27, 31;
  --body-light: 184, 184, 184;
  --body-default: 138, 138, 138;

  // bg
  --bg-light: 35, 35, 35;
  --bg-secondary: 27, 27, 27;
  --bg-primary: 24, 24, 24;
  --bg-main: 13, 13, 13;

  // base
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}
