.sidebar {
  @apply p-4 w-[236px] bg-body-default z-[199];
  transition: 0.3s width cubic-bezier(0.4, 0, 0.2, 1),
    0.3s transform cubic-bezier(0.4, 0, 0.2, 1),
    0.3s padding cubic-bezier(0.4, 0, 0.2, 1);
}

.page_link {
  @apply flex items-center p-2 min-h-[40px] rounded-[8px] transition-colors font-medium;
  white-space: nowrap;

  &:hover {
    @apply bg-input-default;

    svg {
      fill: rgb(var(--body-primary));
    }

    span {
      color: rgb(var(--body-primary));
    }
  }
}

.page_link_active {
  @apply bg-input-default;

  svg {
    fill: rgb(var(--body-primary));
  }

  span {
    color: rgb(var(--body-primary));
  }
}

.full_width {
  @apply flex justify-center;
}

.title {
  @apply text-base font-medium text-body-default mb-2;
}

.open {
  @apply translate-x-0;
}

.close {
  @apply w-0 p-0 -translate-x-60 duration-200;
  transition-duration: 0.2s;
}

.profileItem {
  @apply flex items-center px-3 py-2 w-full h-12;
  cursor: pointer;
  white-space: nowrap;

  span {
    transition: color 0.15s ease;
  }

  &:hover {
    svg {
      fill: rgb(var(--body-primary));
    }

    span {
      color: rgb(var(--body-primary));
    }
  }
}

.tooltipItemWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 10px;
}

.tooltipItem {
  @apply flex items-center justify-center px-3 py-2 text-body-default;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(var(--input-default));
  transition: background-color 0.15s ease, color 0.15s ease;

  &:hover {
    background-color: rgb(var(--input-light));
  }
}

.tooltipItemActive {
  background-color: rgb(var(--input-light));
}

.dropdownTitle {
  @apply flex items-center p-2 text-base font-medium text-body-light;

  &:hover {
    color: rgb(var(--body-primary));

    svg {
      fill: rgb(var(--body-primary));
    }
  }
}
