.preview {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  object-position: top;

  @media (max-width: 640px) {
    object-fit: contain;
  }

  @media (max-width: 1024px) {
    object-fit: cover;
  }
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 655px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 120px;
    color: #e24146;
    line-height: 100px;
    margin-bottom: 50px;
  }

  p {
    font-size: 40px;
    color: #fff;
    max-width: 500px;
  }

  @media (max-width: 1024px) {
    height: 60vh;

    h1 {
      font-size: 80px;
      line-height: 60px;
    }
  }

  @media (max-width: 640px) {
    height: 100vh;

    h1 {
      margin-top: 100px;
      font-size: 64px;
      line-height: 64px;
    }

    p {
      margin-bottom: auto;
      font-size: 24px;
      padding: 0 10px;
    }

    a {
      bottom: 150px;
    }
  }
}

.btnMain {
  @media (max-width: 640px) {
    min-width: 210px;
  }
}

.fixedlink {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  z-index: 200;
}

.desc {
  font-size: 64px;
  line-height: 80px;
  font-weight: 500;
  color: #0a0a0a;
  max-width: 580px;

  @media (max-width: 1024px) {
    font-size: 48px;
    line-height: 40px;
  }

  @media (max-width: 640px) {
    font-size: 32px;
    line-height: 30px;
  }
}

.middleSlide {
  width: 100%;
  max-width: 500px;
  object-fit: contain;

  @media (max-width: 640px) {
    object-fit: cover;
    max-width: unset;
    height: 100%;
    max-height: 300px;
  }
}

.cards {
  @apply relative w-full flex justify-between items-center;

  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
  }

  @media (max-width: 640px) {
    margin-top: 100px;
    flex-direction: column;
  }
}

.firstCard {
  @apply relative flex flex-col justify-start items-start max-w-[380px] gap-4 -top-40;

  @media (max-width: 640px) {
    top: 0;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
}

.lastCard {
  @apply flex flex-col justify-end items-end max-w-[380px] gap-4 text-end;

  @media (max-width: 640px) {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
}

.mighty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 100px;

  p {
    max-width: 350px;
    text-align: center;
    line-height: 22px;

    b {
      color: #e24146;
    }
  }
}

.roadmap {
  font-size: 200px;
  margin-top: 250px;
  text-align: center;

  h1 {
    margin-bottom: 200px;
    line-height: 150px;
  }

  @media (max-width: 1024px) {
    font-size: 140px;
    margin-top: 200px;

    h1 {
      margin-bottom: 150px;
      line-height: 120px;
    }
  }

  @media (max-width: 640px) {
    font-size: 64px;
    margin-top: 100px;

    h1 {
      margin-bottom: 50px;
      line-height: 80px;
    }
  }
}

.slideMain {
  @apply flex flex-col items-center justify-center w-full max-w-[400px] min-h-[600px];

  h2 {
    font-size: 40px;
    line-height: 36px;
    font-weight: 700;
    margin-top: auto;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    line-height: 24px;
  }

  @media (max-width: 640px) {
    min-height: unset;

    h2 {
      font-size: 24px;
      margin-top: 20px;
    }

    p {
      font-size: 18px;
    }
  }
}

.footer {
  @apply mt-20 relative;
  width: 100%;
  z-index: 201;

  @media (max-width: 640px) {
    min-height: 100vh;
  }
}

.footerImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;

  @media (max-width: 640px) {
    position: absolute;
    object-fit: cover;
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
  }

  span {
    font-size: 24px;
  }

  a {
    font-size: 24px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 640px) {
    h2 {
      font-size: 20px;
      line-height: 20px;
    }

    span {
      font-size: 18px;
    }
  }
}

.linkItem {
  margin-top: 50px;

  @media (max-width: 640px) {
    margin-top: 20px;
  }
}

.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 80vw;
  height: 80vh;

  iframe {
    min-height: 80vh;
    min-width: 80vw;
  }
}

.close {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
}

.getBig {
  position: absolute !important;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  button {
    width: 90vw !important;
    height: 250px !important;
    font-size: 120px !important;
    font-weight: 700;
    line-height: 100px;
    border-radius: 1000px !important;
    white-space: nowrap;
  }

  @media (max-width: 1024px) {
    button {
      font-size: 32px !important;
      height: 72px !important;
      width: 40vw !important;
    }
  }

  @media (max-width: 640px) {
    button {
      font-size: 18px !important;
      height: 72px !important;
      width: 50vw !important;
    }
  }
}

.swiperTop {
  background-color: #e24146;
  padding: 5px 0;

  span {
    font-size: 14px;
    font-size: 600;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.star {
  margin: 0 10px 0 30px;
}
