.preview {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  object-position: top;
}

.content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 655px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 120px;
    color: #e24146;
    line-height: 100px;
    margin-bottom: 30px;
  }

  p {
    font-size: 40px;
    color: #fff;
  }
}

.desc {
  font-size: 64px;
  line-height: 80px;
  font-weight: 500;
  color: #0a0a0a;
  max-width: 580px;
}

.slide {
  object-fit: contain;
}

.cards {
  @apply relative w-full flex justify-between items-center;

  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
  }
}

.mighty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 50px;

  p {
    max-width: 350px;
    text-align: center;
    line-height: 22px;

    b {
      color: #e24146;
    }
  }
}

.roadmap {
  font-size: 200px;
  margin-top: 250px;
  margin-bottom: 200px;
  line-height: 150px;
  text-align: center;
}
