.header {
  @apply sticky top-0 left-0 w-full flex items-center bg-body-default;
  z-index: 200;
}

.balanceChange {
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  color: rgb(var(--success-600));
}

.header_container {
  @apply w-full mx-auto flex items-center justify-between py-2 px-6 z-10 border-b border-block-light h-16 max-sm:px-4;

  @media (min-width: 1440px) {
    @apply px-8;
  }
}

.logo {
  @apply flex items-center font-semibold cursor-pointer z-10 w-36;
}

.logo span {
  transition: transform 0.2s ease;
}

.connect {
  @apply w-6 h-6 ml-2;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 6px;
  margin-right: 6px;
  border-radius: 12px;
  transition: background-color 0.15s ease;
}

.withHoverBg {
  @apply hover:bg-block-light;
}

.profileItem {
  @apply flex items-center px-4 py-2 w-full rounded-xl hover:bg-input-default last:mb-0;
  cursor: pointer;
  white-space: nowrap;

  span {
    transition: color 0.15s ease;
  }

  &:hover {
    color: rgb(var(--body-primary));
    background-color: rgb(var(--input-default));

    svg {
      path {
        fill: rgb(var(--body-primary));
      }
    }

    span {
      color: rgb(var(--body-primary));
    }
  }
}

.hoverIcon {
  @apply hover:bg-block-primary;
}

.tooltipItemWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 10px;
}

.tooltipItem {
  @apply flex items-center justify-center px-3 py-2 text-body-default;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(var(--input-default));
  transition: background-color 0.15s ease, color 0.15s ease;

  &:hover {
    background-color: rgb(var(--input-light));
  }
}

.tooltipItemActive {
  background-color: rgb(var(--input-light));
}

.close_cnt {
  position: absolute;
  right: 17px;
  top: 20px;
  z-index: 100;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    transition: fill 0.15s ease;
  }

  &:hover {
    svg {
      fill: rgb(var(--white));
    }
  }
}
